/* .navbar{
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  padding: 5px 10px;
  align-items: center;
  color: #fff;
}

.logo{
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover{
  color: #bfbcbc;
}
 */

 .navbar{
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  padding: 5px 10px;
  align-items: center;
  color: #fff;
}

.logo{
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover{
  color: #bfbcbc;
}
